body {
    color: #000000;
    background-color: #ffffff;
}
.main {
    margin:0 auto;
}
/* .container {
    max-width: 780px;
} */
.navbar {
    box-shadow: unset;
    padding: unset;
}
.nav-link {
    text-transform: capitalize;
    font-weight: 500 !important;
    color: #000000 !important;
    /* text-shadow: 0px 3px 6px #00000029; */
}
.login-btn {
    text-transform: capitalize;
    color: black !important;
}
.navbar-nav {
    margin-bottom: -20px;
}
@media (max-width: 990px) {
    .navbar-nav {
        margin-bottom: 1%;
    }
}
@media (max-width: 700px) {
    .card-pad {
        padding-left: 15px !important;
        padding-bottom: 15px !important;
    }
}
.title {
    text-align: center;
}
.title-head {
    color: #000000;
    font-weight: bold;
    font-size: 1.25rem;
}
.span-text {
    /* text-shadow: 0px 3px 6px #00000029; */
    color: #000;
}
.first-div {
    background: #D39B00;
}
.popular-courses {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #5b5b5b;
    font-weight: bold;
    background: #ffffff;
    border-radius: 20px;
}
.courses {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #5b5b5b;
    font-weight: bold;
    background: #ffffff;
    border-radius: 20px;
}
.font-awesome {
    font-size: 40px;
    color: #565952;
}
.popular-title {
    font-size: 15px;
    font-weight: bold;
}
.popular-des {
    font-size: 10px;
}
.second-div {
    background: #CD0C0F;
}
.third-div {
    background: #090623;
}
.about-us {
    text-shadow: 0px 3px 6px #00000029;
    /* color: #836b6b; */
}
.login-link  {
    color: #ffbe33;
    border: 1px solid #ffbe33;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.login-link:hover,.login-link:focus{
    background: unset;
    color: #ffbe33;
    border: 1px solid #ffbe33;
}
.signup-link {
    background: #ffbe33;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 10px 5px -10px black;
}
.signup-link:hover,
.signup-link:focus {
    background: #ffbe33;
}
.cat-title {
    font-size: 16px;
    font-weight: bold;
}
.radio {
    font-size: 16px;
    color: #000000;
}
.radio label input[type=radio]:checked~.bmd-radio:before,
label.radio-inline input[type=radio]:checked~.bmd-radio:before {
    background-color: #CD0C0F;
    width: 1rem;
    height: 1rem;
}
.radio label input[type=radio]:checked~.bmd-radio:after,
label.radio-inline input[type=radio]:checked~.bmd-radio:after {
    border-color: #CD0C0F;
    width: 1rem;
    height: 1rem;
}
.radio label .bmd-radio:after,
label.radio-inline .bmd-radio:after {
    border: .125rem solid #CD0C0F;
    width: 1rem;
    height: 1rem;
}
.radio-lbl {
    font-size: 14px !important;
}
.rad-lbl {
    margin-top: -2px;
    color: #000000;
}
.badge-card {
    background: #FED348;
}
.price {
    font-size: 18px;
    color: #CD0C0F;
    font-weight: bold;
}
.normal-price {
    text-decoration: line-through;
}
.rate {
    font-size: 10px;
}
.footer {
    background: #fed348;
    color: #000000;
    line-height: 1rem;
}
.foot-title {
    font-size: 14px;
    font-weight: bold;
}
.social {
    color: #1E1B32;
    font-size: 16px;
}
.detail-title {
    font: 16px;
    background: #CF0B0E;
    color: #ffffff;
}
.detail-bg {
    background: #E4E1DD;
}
.list-item {
    font-size: 13px;
}
.list-item-bg {
    background: #ffffff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}
.fa-music {
    color: #1A5690;
    font-size: 14px;
}
.fa-pdf {
    color: #CB0A09;
    font-size: 14px;
}
.detail-btn {
    background: #CC0A09;
    color: #fff;
    text-transform: capitalize;
    font-size: 12px;
    box-shadow: 0 5px 5px 0 #e78989;
    border-radius: unset;
    width: 100%;
}
.fade.show {
    background: #212529e0;
}
.modal-pad {
    padding: 5% 0;
}
.modal-border {
    border-radius: unset;
    max-width: 320px;
    margin: 0 auto;
}
.login-head {
    font-weight: bold;
    font-size: 25px;
    color: #000000;
}
.login-input {
    width: 100%;
    background:#F0EDF1;
    border: unset;
    border-radius: unset;
    padding: 8px 4px;
}
.register-input {
    width: 100%;
    background:#F0EDF1;
    border: unset;
    border-radius: unset;
    padding: 4px 10px;
    border-radius: 20px;
}
.phone-input {
    width: 100%;
    background: #F0EDF1;
    border: unset;
    padding: 4px 10px;
    border-radius: 0px 40px 40px 0px;
}
.register-drop {
    width: 100%;
    background:#F0EDF1;
    border: unset;
    border-radius: unset;
    padding: 4px 4px;
    border-radius: 20px;
}
::-webkit-input-placeholder {
    font-size: 12px !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px !important;
}
.dropdown-btn {
    width: 100%;
    background: #DAD7DB;
    border: 1px solid #DAD7DB;
    font-size: 12px;
    padding: 4px 4px;
    color: #948e94;
    border-radius: 20px;
}
.dropdown-phone-btn {
    width: 100%;
    background: #DAD7DB;
    border: 1px solid #DAD7DB;
    font-size: 12px;
    padding:6px;
    color: #000000;
    border-radius: 40px 0px 0px 40px;
}
.dropdown-btn::after,
.dropdown-phone-btn::after {
    display: none !important;
}
.fa-down {
    font-size: 8px;
    float: right;
    margin-top: 6px;
}
.main-courses {
    background-color: #fed348;
    padding-left: 20px;
    padding-right: 20px;
}
.couse-div {
    max-width: 750px;
    margin: 0 auto;
}
.register-div {
    max-width: 400px;
    margin: 0 auto;
}
.login-div {
    max-width: 300px;
    margin: 0 auto;
}
.popular-course-div {
    max-width: 650px;
    margin: 0 auto;
}
.popular-courses-card {
    background: #fed348;
    border-radius: 20px;
    padding: 20px;
    color: #000000;
}
.about-us-div {
    max-width: 1000px;
    margin: 0 auto;
}
.register-form {
    color: #000000;
}
/* .div-margin {
    margin-bottom: -3rem;
} */
#accordion{
    background: #e0e0e0;
    border-radius: 20px;
}
.lecturer-info {
    background: #e0e0e0;
    border-radius: 20px;
}
.profile-img {
    min-width: 128px;
}