<template>
    <div>
        <div class="mt-4 items-center main-courses pt-2 pb-5">
            <div class="login-div pb-5 mb-5">
                <div class="row d-flex justify-content-between align-items-center my-3 ml-0 mr-0">
                    <div class="col-12 mb-2 col-md-12">
                        <div class="first-div courses">
                            <span class="login-head">Login</span> <br />
                            <small>Login to unlock the unlimited education. </small> <br />
                            <form class="mt-5 mx-4 register-form">
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-left">
                                    <div class="col-3">
                                        <small>Phone</small>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="register-input"/>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-left">
                                    <div class="col-3">
                                        <small>Password</small>
                                    </div>
                                    <div class="col-9">
                                        <input type="password" class="register-input" 
                                        />
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-center">
                                    <div class="col-12">
                                        <button class="login-btn btn signup-link" style="width:100%">
                                            Login
                                        </button>
                                        <br />
                                        <a href="/register" class="text-danger"><small class="font-weight-bold">Create new account?</small></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 items-center popular-courses pt-2 pb-2">
            <div class="title">
                <span class="title-head">Popular Courses we offer</span> <br />
                <span class="span-text"><small>Lorem ipsum dolor sit</small></span>
            </div>
            <div class="popular-course-div">
                <div class="row d-flex justify-content-between align-items-center mt-3 ml-0 mr-0">
                    <div class="col-12 mb-2 col-md-4">
                        <div class="popular-courses-card">
                            <div class="font-awesome mb-2">
                                <i class="fas fa-laptop-code"></i>
                            </div>
                            <span class="popular-title">Waso မှာဆက်လက်သင်ယူပါ။ </span>
                            <br />
                            <span class="popular-des">WasoLearn Institute မှာဆက်လက်သင်ယူပါ။</span>
                            <div class="mt-2"><small>Join Now</small></div>
                        </div>
                    </div>
                    <div class="col-12 mb-2 col-md-4">
                        <div class="popular-courses-card">
                            <div class="font-awesome mb-2">
                                <i class="fas fa-business-time"></i>
                            </div>
                            <span class="popular-title">အချိန်ကိုအကျိုးရှိစွာ အသုံးချပါ</span>
                            <br />
                            <span class="popular-des">သင်တန်းများကို အခမဲ့ စမ်းသပ် လေ့လာသင်ယူနိုင်ပါသည်။</span>
                            <div class="mt-2"><small>Join Now</small></div>
                        </div>
                    </div>
                    <div class="col-12 mb-2 col-md-4">
                        <div class="popular-courses-card">
                            <div class="font-awesome mb-2">
                                <i class="fas fa-headphones"></i>
                            </div>
                            <span class="popular-title">အိမ်မှာ နေရင်းဆက်လက်သင်ယူပါ</span>
                            <br />
                            <span class="popular-des">WasoLearn Institute မှာလေ့လာသင်ယူပါ။</span>
                            <div class="mt-2"><small>Join Now</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items-center popular-courses">
            <div class="title">
                <span class="title-head">Stay Informed</span>
            </div>
            <div class="my-3">
                <inform-slider></inform-slider>
            </div>
        </div>
        <div class="items-center popular-courses">
            <div class="about-us-div">
                <div class="title mb-3">
                    <span class="title-head">About Us</span>
                </div>
                <div class="text-left">
                    <small class="about-us">မြန်မာနိုင်ငံ တိုးတက်မှုအတွက် လိုအပ်သောပညာရပ်များကို
                        နိုင်ငံအနှံ့ဖြန့်ဝေပေးနိုင်ရန် အားလုံးပါဝင်နိုင်သော အကန့်အသတ်မရှိ
                        ပညာရေးအစီအစဥ်များ ဆောင်ရွက်နိုင်ရန် Strategy First University မှ
                        သီးခြားတည်ထောင်လိုက်သော WasoLearn ဖြစ်ပါသည်။ Online Learning စနစ်
                        ဖြင့်လည်းကောင်း၊ရက်တို အလုပ်ရုံသင်တန်းပုံစံ ပို့ချမှုဖြင့်လည်းကောင်း၊
                        သင်တန်းများကို အများလက်လှမ်းမီအောင်၊ အရည်အသွေးရှိအောင်နှင့်
                        လုပ်ငန်းခွင်အသုံးဝင်အောင် ဝန်ဆောင်မှု ကောင်းမွန်စွာ
                        တီထွင်ဆန်းသစ်မှုများနှင့် ပို့ချသွားမည်ဖြစ်ပါသည်။</small>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

</script>
