<template>
    <div>
        <div class="mt-4 items-center main-courses pt-2 pb-2">
            <div class="register-div">
                <div class="row d-flex justify-content-between align-items-center my-3 ml-0 mr-0">
                    <div class="col-12 mb-2 col-md-12">
                        <div class="first-div courses">
                            <span class="login-head">Registration</span> <br />
                            <small>Register to unlock the unlimited education. </small> <br />
                            <form class="mt-4 mx-4 register-form">
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-left">
                                    <div class="col-3">
                                        <small>Name</small>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="register-input" placeholder="Full Name"/>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-left">
                                    <div class="col-3">
                                        <small>Email</small>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="register-input" placeholder="Enter Your Email"/>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-left">
                                    <div class="col-3">
                                        <small>Phone</small>
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-4 pr-0">
                                                <div class="dropdown">
                                                    <button
                                                        class="dropdown-toggle dropdown-phone-btn align-items-center text-left"
                                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        +95
                                                        <i class="fa fa-chevron-down fa-down"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="#">+96</a>
                                                        <a class="dropdown-item" href="#">+97</a>
                                                        <a class="dropdown-item" href="#">+98</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-8 pl-0">
                                                <input type="text" class="phone-input" placeholder="09xxxxxxxxx" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-left">
                                    <div class="col-3">
                                        <small>Password</small>
                                    </div>
                                    <div class="col-9">
                                        <input type="password" class="register-input" placeholder="New Password"/>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-left">
                                    <div class="col-3">
                                        <small>Division</small>
                                    </div>
                                    <div class="col-9">
                                        <div class="dropdown register-drop">
                                            <button class="dropdown-toggle dropdown-btn align-items-center text-left"
                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                Division
                                                <i class="fa fa-chevron-down fa-down"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-left">
                                    <div class="col-3">
                                        <small>Township</small>
                                    </div>
                                    <div class="col-9">
                                        <div class="dropdown register-drop">
                                            <button class="dropdown-toggle dropdown-btn align-items-center text-left"
                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                Township
                                                <i class="fa fa-chevron-down fa-down"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-left">
                                    <div class="col-3">
                                        <small>Optional</small>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="register-input"
                                            placeholder="Enter SFU Student ID Promo Code" />
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center mb-3 text-center">
                                    <div class="col-12">
                                        <button class="login-btn btn signup-link" style="width:100%">
                                            Register
                                        </button>
                                        <br />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 items-center popular-courses pt-2 pb-2">
            <div class="title">
                <span class="title-head">Popular Courses we offer</span> <br />
                <span class="span-text"><small>Lorem ipsum dolor sit</small></span>
            </div>
            <div class="popular-course-div">
                <div class="row d-flex justify-content-between align-items-center mt-3 ml-0 mr-0">
                    <div class="col-12 mb-2 col-md-4">
                        <div class="popular-courses-card">
                            <div class="font-awesome mb-2">
                                <i class="fas fa-laptop-code"></i>
                            </div>
                            <span class="popular-title">Waso မှာဆက်လက်သင်ယူပါ။ </span>
                            <br />
                            <span class="popular-des">WasoLearn Institute မှာဆက်လက်သင်ယူပါ။</span>
                            <div class="mt-2"><small>Join Now</small></div>
                        </div>
                    </div>
                    <div class="col-12 mb-2 col-md-4">
                        <div class="popular-courses-card">
                            <div class="font-awesome mb-2">
                                <i class="fas fa-business-time"></i>
                            </div>
                            <span class="popular-title">အချိန်ကိုအကျိုးရှိစွာ အသုံးချပါ</span>
                            <br />
                            <span class="popular-des">သင်တန်းများကို အခမဲ့ စမ်းသပ် လေ့လာသင်ယူနိုင်ပါသည်။</span>
                            <div class="mt-2"><small>Join Now</small></div>
                        </div>
                    </div>
                    <div class="col-12 mb-2 col-md-4">
                        <div class="popular-courses-card">
                            <div class="font-awesome mb-2">
                                <i class="fas fa-headphones"></i>
                            </div>
                            <span class="popular-title">အိမ်မှာ နေရင်းဆက်လက်သင်ယူပါ</span>
                            <br />
                            <span class="popular-des">WasoLearn Institute မှာလေ့လာသင်ယူပါ။</span>
                            <div class="mt-2"><small>Join Now</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items-center popular-courses">
            <div class="title">
                <span class="title-head">Stay Informed</span>
            </div>
            <div class="my-3">
                <inform-slider></inform-slider>
            </div>
        </div>
        <div class="items-center popular-courses">
            <div class="about-us-div">
                <div class="title mb-3">
                    <span class="title-head">About Us</span>
                </div>
                <div class="text-left">
                    <small class="about-us">မြန်မာနိုင်ငံ တိုးတက်မှုအတွက် လိုအပ်သောပညာရပ်များကို
                        နိုင်ငံအနှံ့ဖြန့်ဝေပေးနိုင်ရန် အားလုံးပါဝင်နိုင်သော အကန့်အသတ်မရှိ
                        ပညာရေးအစီအစဥ်များ ဆောင်ရွက်နိုင်ရန် Strategy First University မှ
                        သီးခြားတည်ထောင်လိုက်သော WasoLearn ဖြစ်ပါသည်။ Online Learning စနစ်
                        ဖြင့်လည်းကောင်း၊ရက်တို အလုပ်ရုံသင်တန်းပုံစံ ပို့ချမှုဖြင့်လည်းကောင်း၊
                        သင်တန်းများကို အများလက်လှမ်းမီအောင်၊ အရည်အသွေးရှိအောင်နှင့်
                        လုပ်ငန်းခွင်အသုံးဝင်အောင် ဝန်ဆောင်မှု ကောင်းမွန်စွာ
                        တီထွင်ဆန်းသစ်မှုများနှင့် ပို့ချသွားမည်ဖြစ်ပါသည်။</small>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

</script>
