<template>
    <div>
        <div class="mt-4 items-center pt-2">
            <div class="title">
                <span class="title-head"
                    >ENGLISH ELEMENTARY
                    <span class="font-weight-normal">Level2</span></span
                >
                <br />
                <span class="span-text">Course Fees = 55000mmk</span>
                &nbsp;&nbsp;<span class="badge badge-pill badge-card"
                    >Paid 200</span
                >
            </div>
            <div class="couse-div">
                <div
                    class="row d-flex justify-content-between align-items-center my-3 ml-0 mr-0"
                >
                    <div class="col-12 mb-2">
                        <video
                            src="/video/sample-mp4-file.mp4"
                            width="100%"
                            controls
                        ></video>
                    </div>
                </div>
                <div
                    class="row d-flex justify-content-between my-3 ml-0 mr-0"
                >
                    <div class="col-12 mb-2 col-md-9">
                        <div id="accordion" class="px-3 py-3">
                            <div class="mb-1">
                                <div id="item1">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                    >
                                        Unit 1 : Introduction to Marketing
                                        Concepts
                                    </div>
                                </div>
                                <div
                                    id="collapseOne"
                                    class="collapse show"
                                    aria-labelledby="item1"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;&nbsp;Reference Book
                                            pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item2">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        aria-expanded="true"
                                        aria-controls="collapseTwo"
                                    >
                                        Unit 2 : Marketing Environment
                                    </div>
                                </div>
                                <div
                                    id="collapseTwo"
                                    class="collapse"
                                    aria-labelledby="item2"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item3">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapseThree"
                                        aria-expanded="true"
                                        aria-controls="collapseThree"
                                    >
                                        Unit 3 : Marketing Research
                                    </div>
                                </div>
                                <div
                                    id="collapseThree"
                                    class="collapse"
                                    aria-labelledby="item3"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item4">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapseFour"
                                        aria-expanded="true"
                                        aria-controls="collapseFour"
                                    >
                                        Unit 4 : Consumer Behaviour-B2B,B2C
                                    </div>
                                </div>
                                <div
                                    id="collapseFour"
                                    class="collapse"
                                    aria-labelledby="item4"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item5">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapseFive"
                                        aria-expanded="true"
                                        aria-controls="collapseFive"
                                    >
                                        Unit 5 : STPD
                                    </div>
                                </div>
                                <div
                                    id="collapseFive"
                                    class="collapse"
                                    aria-labelledby="item5"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item6">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapseSix"
                                        aria-expanded="true"
                                        aria-controls="collapseSix"
                                    >
                                        Unit 6 : Product
                                    </div>
                                </div>
                                <div
                                    id="collapseSix"
                                    class="collapse"
                                    aria-labelledby="item6"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item7">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapseSeven"
                                        aria-expanded="true"
                                        aria-controls="collapseSeven"
                                    >
                                        Unit 7 : Price
                                    </div>
                                </div>
                                <div
                                    id="collapseSeven"
                                    class="collapse"
                                    aria-labelledby="item7"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item8">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapse8"
                                        aria-expanded="true"
                                        aria-controls="collapse8"
                                    >
                                        Unit 8 : Place
                                    </div>
                                </div>
                                <div
                                    id="collapse8"
                                    class="collapse"
                                    aria-labelledby="item8"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item9">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapse9"
                                        aria-expanded="true"
                                        aria-controls="collapse9"
                                    >
                                        Unit 9 : Promotion
                                    </div>
                                </div>
                                <div
                                    id="collapse9"
                                    class="collapse"
                                    aria-labelledby="item9"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item10">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapse10"
                                        aria-expanded="true"
                                        aria-controls="collapse10"
                                    >
                                        Unit 10 : Retailing
                                    </div>
                                </div>
                                <div
                                    id="collapse10"
                                    class="collapse"
                                    aria-labelledby="item10"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item11">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapse11"
                                        aria-expanded="true"
                                        aria-controls="collapse11"
                                    >
                                        Unit 11 : Promotion
                                    </div>
                                </div>
                                <div
                                    id="collapse11"
                                    class="collapse"
                                    aria-labelledby="item11"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item12">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapse12"
                                        aria-expanded="true"
                                        aria-controls="collapse12"
                                    >
                                        Unit 12 : Service Marketing
                                    </div>
                                </div>
                                <div
                                    id="collapse12"
                                    class="collapse"
                                    aria-labelledby="item12"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div id="item13">
                                    <div
                                        class="list-item list-item-bg px-4 py-2"
                                        data-toggle="collapse"
                                        data-target="#collapse13"
                                        aria-expanded="true"
                                        aria-controls="collapse13"
                                    >
                                        Unit 13 : Consumer Management
                                    </div>
                                </div>
                                <div
                                    id="collapse13"
                                    class="collapse"
                                    aria-labelledby="item13"
                                    data-parent="#accordion"
                                >
                                    <div class="list-item text-left px-4 py-1">
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-play-circle fa-music"
                                            ></i>
                                            &nbsp;Introduction to Marketing
                                            Concept</small
                                        >
                                        <br />
                                        <small
                                            ><i
                                                class="fas fa-file-pdf fa-pdf"
                                            ></i>
                                            &nbsp;Reference Book pdf</small
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-2 col-md-3">
                        <div class="px-3 py-3 lecturer-info ">
                                <div class="text-center">
                                    <img src="/images/lecturer.jpg" class="profile-img" alt="" />
                                </div>
                                <div class="py-2">
                                    <p class="list-item">Lecturer Information</p>
                                    <small>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Voluptatum aliquid repellendus error, consequatur nisi sit a
                                        excepturi quidem, corrupti voluptate mollitia illum animi
                                        earum similique modi accusantium. Autem, odit 
                                        illum animi
                                        earum similique modi accusantium. Autem, odit 
                                        modi accusantium. Autem,
                                    </small>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 items-center main-courses pt-2 div-margin">
            <div class="title pt-5 pb-5">
                <span class="title-head">Other Related Courses</span>
            </div>
            <div class="couse-div pb-5">
                <div
                    class="row d-flex justify-content-between align-items-center my-3"
                >
                    <div class="col-6 mb-2 col-md-4">
                        <div class="first-div courses">
                            <img
                                src="/images/beginner.jpg"
                                alt=""
                                width="100%"
                            />
                            <span class="popular-title">Beginner </span> <br />
                            <div class="mt-2"><small>Level-1</small></div>
                        </div>
                    </div>
                    <div class="col-6 mb-2 col-md-4">
                        <div class="first-div courses">
                            <img
                                src="/images/beginner.jpg"
                                alt=""
                                width="100%"
                            />
                            <span class="popular-title">Beginner </span> <br />
                            <div class="mt-2"><small>Level-1</small></div>
                        </div>
                    </div>
                    <div class="col-6 mb-2 col-md-4">
                        <div class="first-div courses">
                            <img
                                src="/images/beginner.jpg"
                                alt=""
                                width="100%"
                            />
                            <span class="popular-title">Beginner </span> <br />
                            <div class="mt-2"><small>Level-1</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script></script>
