<template>
    <div class="container">
        <div class="banner">
            <div ref="swiperBox" class="swiperBox">
                <swiper class="swiper" :options="swiperOption">
                    <swiper-slide>
                        <a>
                            <img src="/images/inform1.jpg" alt="" width="100%" />
                        </a>
                    </swiper-slide>
                    <swiper-slide>
                        <a>
                            <img src="/images/inform2.jpg" alt="" width="100%" />
                        </a>
                    </swiper-slide>
                    <swiper-slide>
                        <a>
                            <img src="/images/inform3.jpg" alt="" width="100%" />
                        </a>
                    </swiper-slide>
                    <div class="swiper-pagination" slot="pagination"></div>
                </swiper>
                <!--Left and right arrows-->
                <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .swiperBox {
        /* width: 100%; */
        position: relative;
        /* padding: 0px 50px; */
    }

    .swiper_btn {
        position: absolute;
    }

    .swiper-button-prev {
        background-color: #ffc539;
        border-radius: 50%;
        box-shadow: 0px 10px 5px -10px black;
        height: 30px;
        width: 30px;
    }

    .swiper-button-next {
        background-color: #ffc539;
        border-radius: 50%;
        box-shadow: 0px 10px 5px -10px black;
        height: 30px;
        width: 30px;
    }

    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
        content: 'prev';
        font-size: 10px;
        color: black;
        font-weight: bold;
    }

    .swiper-button-next:after,
    .swiper-container-rtl.swiper-button-prev:after {
        content: "next";
        font-size: 10px;
        color: black;
        font-weight: bold;
    }

</style>
<script>
    export default {
        data() {
            return {
                swiperOption: {
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev"
                    },
                    autoplay: {
                        delay: 25000,
                        disableOnInteraction: false
                    }
                },
                sliders: []
            };
        }
    };

</script>
