<template>
  <div class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light mt-2 mb-2">
        <a class="navbar-brand" href="#">
          <img src="/images/logo-final.jpg"  class="logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item pl-2 pr-2">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item pl-2 pr-2">
              <a class="nav-link" href="/courses">Courses</a>
            </li>
            <li class="nav-item pl-2 pr-2" v-show="token">
              <a class="nav-link" href="">My Courses</a>
            </li>
            <li class="nav-item pl-2 pr-2">
              <a class="nav-link" href="#">Payment</a>
            </li>
            <li class="nav-item pl-2 pr-2">
              <a class="nav-link" href="#">Download App</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-expand-lg" v-if="token">
            <li class="nav-item">
              <a class="nav-link font-weight-bold">
                {{ this.name }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" @click="logout()" style="cursor:pointer;"> 
                Logout
              </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 login-form" v-else>
            <a
              href="/login"
              class="login-btn btn login-link mx-2"
              role="button"
              >Log In</a
            >
            <a
              href="/register"
              class="login-btn btn signup-link"
              role="button"
              >Sign Up</a
            >
          </form>
        </div>
      </nav>
    </header>
  </div>
</template>
<style scoped>
.logo {
  height: 50px;
  margin-bottom: 10px;
}
</style>
<script>
export default {
  data() {
    return {
      token: "",
      name: "",
    };
  },
  created() {
    this.token = localStorage.getItem("access-token");
    this.name = localStorage.getItem("name");
  },
  methods: {
    logout: function () {
      if (localStorage.getItem("access-token")) {
        localStorage.removeItem("access-token");
        localStorage.removeItem("name");
      }
      window.location.href = "/";
    },
  },
};
</script>
