<template>
  <div>
    <div class="banner">
      <swiper class="swiper" :options="swiperOption">
        <swiper-slide v-for="slider in sliders" :key="slider.id">
          <a v-bind:href="slider.link">
            <img :src="slider.image" alt="" width="100%" />
          </a>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      swiperOption: {
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
        },
        // navigation: {
        //   nextEl: ".swiper-button-next",
        //   prevEl: ".swiper-button-prev",
        // },
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
      },
      sliders: [],
    };
  },
  created() {
    this.getSliderList();
  },
  methods: {
    getSliderList: function () {
      axios
        .post("http://139.59.244.126/api/slider/list/", {
          status: 1,
        })
        .then((response) => {
          this.sliders = response.data.data;
        });
    },
  },
};
</script>